<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBweL2qsMEr5YEZTIw1ZlWsnYtYLkGiNwc</string>
	<key>GCM_SENDER_ID</key>
	<string>55503061995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.devcamp.firebase.flutterDevcampFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-devcamp-firebase-620ee</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-devcamp-firebase-620ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55503061995:ios:da451de440adb9bca28fae</string>
</dict>
</plist>